* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: cadetblue;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

li {
  list-style: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bheno-font, .explore_our_world .hover_unoder_list .hover_list_items, .client_service .hover_unoder_list .hover_list_items, .nanamota_hover_section .nanamota .hover_unoder_list .hover_list_items, .hover_section .hover_list_items, .hover_section .special_project .hover_unoder_list .hover_list_items, .hover_section .our_signature .hover_unoder_list .hover_list_items, .hover_section .shop_all_categories .hover_unoder_list .hover_list_items, .behno .d-flex .behnotext .headertext {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.05em;
  list-style: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.bheno-background, .explore_our_world, .client_service, .nanamota_hover_section, .hover_section {
  background: #E9E7E3;
  height: 100vh;
  max-width: 513px;
  width: 100%;
  display: inline-block;
  padding: 37px 50px 30px;
}

.behno {
  padding: 14px 69px 10px 61px;
  cursor: pointer;
  background-color: #fff;
}
.behno .toggle img {
  display: none;
}
.behno .d-flex .behnotext {
  display: flex;
  gap: 45px;
  position: relative;
}
.behno .d-flex .behnotext .headertext {
  margin: -30px;
  padding: 30px;
}
.behno .d-flex .behnotext .headertext .nanamota_img_section {
  background: #758F8F;
  max-width: 413px;
  width: 100%;
  padding: 52px 29px 65px;
  margin-top: 76px;
}
.behno .d-flex .behnotext .headertext .nanamota_img_section .hover_unoder_list .hover_list_items {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  list-style: none;
  color: #fff;
}
.behno .d-flex .behnotext .headertext .nanamota_img_section .hover_unoder_list .hover_list_items:first-child {
  margin-bottom: 15px;
}
.behno .d-flex .behnotext .headertext .nanamota_img_section img {
  margin-bottom: 24px;
}
.behno .d-flex .behnotext .client_list {
  margin-bottom: 57px;
}
.behno .d-flex .behnotext .client_list span {
  font-weight: 700;
}
.behno .d-flex .behnotext .right-hover {
  padding-top: 54px;
}

img {
  margin: 0 auto;
}

.headericon img:first-child {
  margin: 0 28px 0 53px;
}
.headericon img {
  margin-top: -10px;
}

.toggle_list_items {
  display: none;
}

.hover_section {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 80px;
  left: 0;
  transition: all 0.4s;
  overflow-y: auto;
}
.hover_section .shop_all_categories {
  margin-bottom: 58px;
}
.hover_section .shop_all_categories .hover_unoder_list .hover_list_items:first-child {
  color: #767676;
}
.hover_section .our_signature {
  margin-bottom: 58px;
}
.hover_section .our_signature .hover_unoder_list .hover_list_items:first-child {
  font-weight: 700;
  margin-bottom: 17px;
}
.hover_section .special_project {
  margin-bottom: 59px;
}
.hover_section .special_project .hover_unoder_list .hover_list_items:first-child {
  font-weight: 700;
  margin-bottom: 17px;
}
.right-hover {
  right: 0px;
  left: auto;
}

.headertext:hover .hover_section {
  display: block;
  opacity: 1;
  visibility: visible;
}

.nanamota_hover_section {
  display: none;
}
.nanamota_hover_section .nanamota {
  margin-bottom: 76px;
}
.nanamota_hover_section .nanamota .hover_unoder_list .hover_list_items {
  margin-bottom: 10px;
  color: black;
}

.client_service {
  padding-top: 57px;
  display: none;
}
.client_service .hover_unoder_list .hover_list_items {
  margin-bottom: 10px;
}
.client_service .hover_unoder_list .hover_list_items a {
  color: black;
  text-decoration: none;
}

.explore_our_world {
  display: none;
  padding-top: 57px;
}
.explore_our_world img {
  max-width: 456px;
  width: 100%;
  max-height: 456px;
  height: 100%;
}

@media only screen and (max-width: 1050px) {
  .toggle_list_items button .click_list .click_items, .toggle_list_items button, .toggle_list_items .dropdown_list, .toggle_list_items .btn_click {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    list-style: none;
    font-family: "Poppins", sans-serif;
  }
  .behno {
    position: relative;
  }
  .behno .toggle img {
    display: block;
  }
  .behno .d-flex .headericon img:first-child {
    margin: 3px 28px 0 -47px;
  }
  .behno .d-flex .behnotext {
    display: none;
  }
  .toggle_list_items {
    display: block;
    position: absolute;
    top: 75px;
    left: -100%;
    height: 100vh;
    max-width: 304px;
    width: 100%;
    background: #E9E7E3;
    padding: 37px 24px 80px 30px;
    overflow-y: auto;
    cursor: pointer;
    flex-direction: column;
    transition: all 0.8s cubic-bezier(0.71, 0, 0.33, 1.56) 0.1s;
  }
  .toggle_list_items .dropdown .d-flex {
    gap: 70px;
  }
  .toggle_list_items .list_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle_list_items .btn_click {
    margin-bottom: 10px;
  }
  .toggle_list_items .dropdown_list .dropdown_items {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 9px;
  }
  .toggle_list_items .dropdown_list .dropdown_items .click_items:first-child {
    margin-top: 19px;
  }
  .toggle_list_items .dropdown_list .dropdown_items .click_items:last-child {
    margin-bottom: 41px;
  }
  .toggle_list_items .dropdown_list .dropdown_items .click_item {
    margin-bottom: 41px;
  }
  .toggle_list_items button {
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 9px;
  }
  .toggle_list_items button .click_list .click_items {
    margin-bottom: 10px;
  }
  .toggle_list_items .responsive_list {
    margin-bottom: 42px;
  }
  .toggle_list_items .dropdown1 {
    margin-top: 42px;
  }
  .toggle_list_items .dropdown1 .d-flex {
    gap: 100px;
    display: inline-flex;
  }
  .toggle_list_items.active {
    left: 0;
    width: 100%;
  }
  .minus {
    display: none;
  }
  .btn_click.show .minus {
    display: block;
  }
  .btn_click.show .plus {
    display: none;
  }
  .dropdown_list {
    display: none;
  }
  .btn_click.show + .dropdown_list {
    display: block;
  }
  .dropdown_items.show + .click_items {
    display: block;
  }
  .click_list {
    display: none;
  }
  .dropdown_items.show .click_list {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */